<!DOCTYPE html>
<html>
<head>
  <title>People App</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto" rel="stylesheet" >
</head>
<body>

<%= yield %>

<script src=<%= "http://localhost:#{ENV['WEBPACK_PORT']}/app.js" %>></script>
</body>
</html>
